---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1000,"card_number":"4242424242424241","expiration_month":1,"expiration_year":2024,"zip_code":"10045","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000001}'
  recorded_at: Fri, 28 Sep 2018 20:14:55 GMT
recorded_with: VCR 4.0.0
