---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":4900,"card_number":"1211-1221-1234-2201","expiration_month":3,"expiration_year":2021,"zip_code":"12345","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5fe998264aae498893e89ebb2dd5417"
    body:
      encoding: UTF-8
      string: '{"token":"452fb6d199732dcd968575862c5394","success":true,"error_code":null}'
  recorded_at: Wed, 03 Oct 2018 22:17:05 GMT
recorded_with: VCR 4.0.0
