---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1000,"card_number":"4242424242424242","expiration_month":1,"expiration_year":2024,"zip_code":"10045","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4073abe13a7c943ffb6d3ff8b6c6ef5c"
    body:
      encoding: UTF-8
      string: '{"token":"960fa402739671e38bee7c9242d482","success":true,"error_code":null}'
  recorded_at: Wed, 03 Oct 2018 22:04:52 GMT
recorded_with: VCR 4.0.0
