---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1000,"card_number":"4242424242424242","expiration_month":1,"expiration_year":2024,"zip_code":"10045","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"798501b6f8656388b602a4fb901ef648"
    body:
      encoding: UTF-8
      string: '{"token":"1aa9435be9483ba7ec6146c4a79fb9","success":true,"error_code":null}'
  recorded_at: Fri, 28 Sep 2018 20:14:53 GMT
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1000,"token":"1aa9435be9483ba7ec6146c4a79fb9"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"798501b6f8656388b602a4fb901ef648"
    body:
      encoding: UTF-8
      string: '{"token":"1aa9435be9483ba7ec6146c4a79fb9","success":true,"error_code":null}'
  recorded_at: Fri, 28 Sep 2018 20:14:53 GMT
recorded_with: VCR 4.0.0
