---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1000,"card_number":"4242424242424242","expiration_month":1,"expiration_year":2024,"zip_code":"10045","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6298d244bc39ec2b8105f750d1aee8b0"
    body:
      encoding: UTF-8
      string: '{"token":"d3f8ccdc1347a52087dbdfa84c500d","success":true,"error_code":null}'
  recorded_at: Fri, 28 Sep 2018 20:14:52 GMT
recorded_with: VCR 4.0.0
