---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":4900,"card_number":"1234-2121-1221-1211","expiration_month":3,"expiration_year":2022,"zip_code":"12345","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a02795df9604e942e1128fe4e2c0abca"
    body:
      encoding: UTF-8
      string: '{"token":"09ad8552d4b9faa66e60fe5f3f593d","success":true,"error_code":null}'
  recorded_at: Wed, 03 Oct 2018 22:17:00 GMT
recorded_with: VCR 4.0.0
