---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":9900,"card_number":"1212-1221-1121-1234","expiration_month":12,"expiration_year":2019,"zip_code":"12345","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"529cdffc82efc4ec5ddd4bbb177a3eb6"
    body:
      encoding: UTF-8
      string: '{"token":"2dc60ab584f9187f55302b8fae227c","success":true,"error_code":null}'
  recorded_at: Thu, 04 Oct 2018 08:26:11 GMT
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":9900,"token":"2dc60ab584f9187f55302b8fae227c"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"529cdffc82efc4ec5ddd4bbb177a3eb6"
    body:
      encoding: UTF-8
      string: '{"token":"2dc60ab584f9187f55302b8fae227c","success":true,"error_code":null}'
  recorded_at: Thu, 04 Oct 2018 08:26:12 GMT
recorded_with: VCR 4.0.0
