---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":4900,"card_number":"1228-1221-1221-1431","expiration_month":9,"expiration_year":2023,"zip_code":"12345","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bfb6299710ad408e2ebed9c3761128ed"
    body:
      encoding: UTF-8
      string: '{"token":"619d80e6a3712fc9afe4f3af80741d","success":true,"error_code":null}'
  recorded_at: Thu, 04 Oct 2018 08:23:59 GMT
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":4900,"card_number":"1228-1221-1221-1431","expiration_month":7,"expiration_year":2023,"zip_code":"12345","cvv":"123"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae4dfb0531c07417928182259d32b299"
    body:
      encoding: UTF-8
      string: '{"token":"9b126affa9e5431d5610ff2cae38ab","success":true,"error_code":null}'
  recorded_at: Thu, 04 Oct 2018 08:24:00 GMT
recorded_with: VCR 4.0.0
