---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1999,"card_number":"1211-1221-1234-2201","expiration_month":5,"expiration_year":2020,"zip_code":"12345","cvv":"1337"}'
    headers:
      Authorization:
      - Token FAKE-PAY-DUMMY-TOKEN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000003}'
  recorded_at: Wed, 03 Oct 2018 22:17:01 GMT
recorded_with: VCR 4.0.0
